<mat-card appearance="outlined" class="blog-card">
  <mat-card-header>
    <mat-card-title>{{ blog.title }}</mat-card-title>
    <mat-card-subtitle
      >{{ blog.author.username }} -
      {{ blog.createdAt | date }}</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content class="blog-preview-content">
    <div class="truncated-text">{{ blog.content }}</div>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-stroked-button
      color="primary"
      [routerLink]="['/blogs', blog._id]"
    >
      View Details
    </button>
  </mat-card-actions>
</mat-card>
