<div class="form-container">
  <form (ngSubmit)="onSubmit()" #postForm="ngForm" class="edit-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        name="Title"
        required
        [(ngModel)]="blog$().title"
        #titleInput="ngModel"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        name="Content"
        required
        [(ngModel)]="blog$().content"
        #contentInput="ngModel"
        rows="15"
      ></textarea>
    </mat-form-field>

    <button mat-stroked-button color="primary" type="submit">
      Update Post
    </button>
    <br />
    <a mat-flat-button color="warn" [routerLink]="['/']">Cancel</a>
  </form>
</div>
