.login-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #3f5ab5;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.form-field {
  margin-bottom: 1rem;
}
